/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#popup {
    position:fixed;
    top: 20%;
    left:30%;
    width:400px;
    height:400px;
    background:white;
    z-index:99999;
    overflow:scroll;
    border:2px;
    border-style:solid;
}
#divtop {
    background:#B3C2E1;
    position:fixed;
    top: 13.3%;
    left:30%;
    width:400px;
    height:62px;
    z-index:99999;
    border:2px;
    border-style:solid;
}

#modalpop{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:99999;
    
    background-color:black; 
    opacity: 0.7;
    
}
#close{
    float:right;
    background-color:red;
    position: absolute;
    top: 0px;
    right: 0px;
    }

span {
    display:list-item;
    list-style:none;
}
#load{
    width:50px;
     float:center;
     position:absolute;
     top:175px;
     left:175px;
}
#h2{
    
    font-size:20px;
    float:left;
    position:absolute;
    left:130px;
    top:0px;
    left:45px;
}

.atag{
    
    display:inline-block;
margin:5px;
background-color:black;
    text-align: center;
    vertical-align: middle;
    border:2px;
    border-style:solid;
    border-color:blue;
    
    


}
.imgtag{

}
#popupimg{
    width:40px;
    height:40px;
}
#date{
    color:#B3C2E1;
}




/* Body Attribut */
body{font-family:times; font-size:16px; background-color:gray;height:768px; width: 1024px;}
/* Kontainer attribut */
#container ul{width: 12em; margin: 0; padding: 0;solid: #ffffff;}
#container li{list-style: none; padding: 0.2em 0.1em;}
#container ul a{text-decoration: none; padding:0; margin:0;}
#container a:link, visited{color:white;}
#container a:hover{background: #ffcc66;}
#container{ solid: #000000; text-align:center; float:left;width:776px;position:relative;}
/* Footer Attribut */    
#footer{float: left; width: 50px; height:50px; border: 1px; solid: #000000; clear:both;background:#ADD8E6;}
.Gallery a
{
    border:1px;
	background:#B3C2E1;
	display: inline;
	float: left;
	margin: 0 0px 0px;
	padding: 10px 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
        position:relative;
}
.Gallery a:after {
	color: #333;
	font-size: 20px;
	content: attr(title);
	position: relative;
	top:15px;
	
}
.Gallery img { 
    
	display: block; 
	width: 100px; 
	height: 100px;
}
.Gallery a:nth-child(2)
{
	-webkit-transform: rotate(4deg);  
	-moz-transform: rotate(4deg); 
	transform: rotate(4deg); 
}
.Gallery a:nth-child(3) { 
	-webkit-transform: rotate(-24deg);  
	-moz-transform: rotate(-24deg); 
	transform: rotate(-24deg); 
}

.Gallery a:focus, .Gallery a:hover {
	-webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg);
        transform: rotate(0deg);
	-webkit-transform: scale(1.2); 
	-moz-transform: scale(1.2);
        transform: scale(1.2);
	z-index:10;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
}
