/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Body Attribut */
    body{font-family:times; font-size:16px; background-color:gray;}
    /* Kontainer attribut */
#container ul{width: 12em; margin: 0; padding: 0;solid: #ffffff;}
#container li{list-style: none; padding: 0.2em 0.1em;}
#container ul a{text-decoration: none; padding:0; margin:0;}
h1{font-size: 24px; color:Red;}
input[type="submit"]{background-color:orange;}
.OK{background-color:green;}
.Error{background-color:red;}
#popup {
    position:fixed;
    top: 20%;
    left:30%;
    width:400px;
    height:200px;
    background:#B3C2E1;
    z-index:99999;
}

#modalpop{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:99999;
    background-color:black; 
    opacity: 0.7;
    
}

span {
    display:list-item;
    list-style:none;
    top:50%;
}
#submit2{
    background-color:green;
}
#cancel{
    background-color:red;
}
#h2{
    font-size:20px;
    color:blue;
}
.lname{
    top:50px;
}

